{{define "New"}}
    {{template "Header"}}
    {{template "Menu"}}
    
    <h2>Nova Musica</h2>

<form method="POST" action="/insert">

        <div>
            Nome:
            <input type="text" name="name"> <br>
        </div>
        Descricao:
        <div>
            <input type="text" name="description"> <br>
        </div>
        Autor:
        <div>
            <input type="text" name="author"> <br>
        </div>
        Ano:
        <div>
            <input type="date" name="year"> <br>
        </div>
        Duracao:
        <div>
            <input type="text" name="duration"> <br>
        </div>

        Selecione o(s) Álbuns da Música:
<div>
    <input type="checkbox" id="album1" name="albums" value="1">
    <label for="album1">Álbum 1</label>
</div>
<div>
    <input type="checkbox" id="album2" name="albums" value="2">
    <label for="album2">Álbum 2</label>
</div>



        <div>
            <input type="submit" value="Enviar">
        </div>

      </form>

    {{template "Footer"}}
{{end}}
